.lobby {
    text-align: center;
    position: relative;
    top: 50%;
    right: 0%;
}

.title {
    font-size: 15rem;
    text-align: center;
}

.news {
    margin: 200px 300px;
    background-color: aqua;
    padding: 200px 150px;
    text-align: center;
}

nav {
    position: fixed;
}